html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      margin-right: 0;

}
body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
      list-style-type: none;
}

header {
      background: url("img/lauraconcertedited.jpg") no-repeat 50% 50%;
      background-size: cover;
      width: 100%;
      height: 100vh;
      background-attachment: fixed;
}
.overlay {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100vh;
      background: #fff;
      top: 0%;
}

.overlay h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      font-weight: bolder;
      letter-spacing: 12px;
}


.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
      z-index: 3;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
      top: 0%;
}

nav.black ul {
      background: #000;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}
.wrapper{
  width: 100%;
}

@media (max-width: 1024px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;

      }

      nav.black ul {
            background: #000;
      }
      .showing {
      max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
            text-decoration-line: none;
      }

      .menu-icon {
            display: block;
      }
      header {
            background: url("img/lauraconcertedited.jpg") no-repeat 50% 50%;
            background-size: cover;
            width: 100%;
            height: 100vh;
            background-attachment: fixed;
      }

}
.social-media {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding-left: 50px;
}

.social-media ul li {
      list-style: none;
      color: #fff;
      padding-top: 20px;
}

.header {
      position: absolute;
      top: 55%;
      left: 18%;
      transform: translate(-50%, -50%);
}

.header h1 {
      color: #fff;
      font-weight: bolder;
      font-size: 4em;
}

.header p {
      color: #fff;
      font-weight: lighter;
      font-size: 24px;
      padding-top: 40px;
      color: black;
}
@media only screen and (max-width: 850px)   {
  .header {
        position: absolute;
        text-align: center;
        left: 50%;
        transform: translate(-50%, -50%);
  }

  .header h1 {
        color: #fff;
        font-weight: bolder;
        font-size: 4em;
  }

  .header p {
        color: #fff;
        font-weight: lighter;
        font-size: 24px;
        padding-top: 40px;
        color: black;
  }
}
.content {
      width: 60%;
      margin: 4em auto;
      font-size: 18px;
      line-height: 40px;
      text-align: justify;

}
.content h1{
      font-size: 3em;
      border-bottom: 1px solid;
}
.color{
      background: #e6e6ff;
      padding-top: 5px;
      padding-bottom: 5px;

}
.img-bio{
      float:right;
      padding: 20px;
      border-radius: 20%;
}
#music{

}
.grid-cd{
      padding-top: 100px;
      padding-bottom: 100px;
      display: grid;
    	grid-template-columns: repeat( auto-fit, minmax(550px, 1fr) );
      justify-content: center;
      justify-items: center;
    	grid-gap: 1rem;
      background: url("img/LBdark.jpg") no-repeat 50% 50%;
      background-size: cover;
      width: 100%;
      background-attachment: fixed;

}
.image{
  height: 350px;
  width: 350px;
  object-fit: cover;
}
[class*='imghvr-flip-horiz'] {
      width: 350px;
      height: 350px;
}

.contenedor {
  font-family: 'Yrsa', Times New Roman, serif;
  width: 100%;
  background: #ddd;
  padding-top: 5%;
}
.effect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
  cursor: pointer;

}
.effect__heading {
  font-size: 1.5em;
  line-height: 1.2;
  position: relative;
  z-index: 2;
}
.effect__heading:after {
  content: '';
  position: absolute;
}
.effect__subheading {
  font-family: 'Hindi', Avenir, sans-serif;
  font-size: 1.2em;
  line-height: 2;
  letter-spacing: 0.04em;
}
.effect-a {
  opacity: 0.5;
  transition: opacity 0.3s cubic-bezier(0.5, 0, 0.5, 1);
}
.effect-a .effect__heading:after {
  opacity: 0;
  bottom: 2px;
  left: 0;
  height: 10px;
  width: 100%;
  background: #000;
  z-index: -1;
  transform-origin: 0% 50%;
  transform: scaleX(0);
  transition: transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}
.effect-a .effect__subheading {
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1), transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}
.effect-a:hover {
  opacity: 1;
}
.effect-a:hover .effect__heading:after {
  opacity: 0.1;
  transform: scaleX(1);
}
.effect-a:hover .effect__subheading {
  transform: translateX(0%);
  opacity: 1;
}
.effect-b {
  opacity: 0.5;
  transition: opacity 0.3s cubic-bezier(0.5, 0, 0.5, 1);
}
.effect-b .effect__heading:after {
  opacity: 0;
  content: '⎕';
  font-size: 15em;
  line-height: 1;
  top: 100%;
  left: 50%;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) scale(0.8) rotate(45deg);
  transition: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1), transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}
.effect-b .effect__subheading {
  opacity: 0;
  transform: scale(0.8) rotate(25deg);
  transition: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1), transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}
.effect-b:hover {
  opacity: 1;
}
.effect-b:hover .effect__subheading {
  transform: scale(1) rotate(0deg);
  opacity: 1;
}
.effect-b:hover .effect__heading:after {
  opacity: 0.1;
  transform: translate(-50%, -50%) scaleX(1) rotate(0deg);
}
.effect-c {
  opacity: 0.5;
  transition: opacity 0.3s cubic-bezier(0.5, 0, 0.5, 1);
}
.effect-c .effect__heading:after {
  opacity: 0;
  content: '⎦';
  font-size: 4em;
  line-height: 1;
  top: calc(100% + 20px);
  left: calc(100% + 20px);
  transform: translate(-50%, 50%) scale(0.8);
  transition: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1), transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}
.effect-c .effect__heading:before {
  position: absolute;
  opacity: 0;
  content: '⎡';
  font-size: 4em;
  line-height: 1;
  top: 20px;
  left: -20px;
  transform: translate(-50%, -150%) scale(0.8);
  transition: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1), transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}
.effect-c .effect__subheading {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1), transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}
.effect-c:hover {
  opacity: 1;
}
.effect-c:hover .effect__subheading {
  transform: translateY(0);
  opacity: 1;
}
.effect-c:hover .effect__heading:after, .effect-c:hover .effect__heading:before {
  opacity: 0.1;
  transform: translate(-50%, -50%) scale(1);
}
.effect-d {
  opacity: 0.5;
  transition: opacity 0.3s cubic-bezier(0.5, 0, 0.5, 1);
}
.effect-d .effect__heading:after {
  opacity: 0;
  top: 50%;
  left: 50%;
  height: 40px;
  width: 50%;
  background: #000;
  z-index: -1;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) rotate(45deg) scaleX(0);
  transition: transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}
.effect-d .effect__subheading {
  opacity: 0;
  transform: translate(-10px, -10px);
  transition: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1), transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}
.effect-d:hover {
  opacity: 1;
}
.effect-d:hover .effect__heading:after {
  opacity: 0.1;
  transform: translate(-50%, -50%) rotate(45deg) scaleX(1);
}
.effect-d:hover .effect__subheading {
  transform: translate(0, 0);
  opacity: 1;
}







/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}

body, html {
      height: 100%;
      font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
      outline: none !important;
}

a:hover {
      text-decoration: none;
      color: #57b846;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
      margin: 0px;
}

p {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
}

ul, li {
      margin: 0px;
      list-style-type: none;
}


/*---------------------------------------------*/
input {
      outline: none;
      border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
      outline: none !important;
      border: none;
      background: transparent;
}

button:hover {
      cursor: pointer;
}

iframe {
      border: none !important;
}





/*//////////////////////////////////////////////////////////////////
[ Contact 2 ]*/
.bg-contact2 {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contact2 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: rgba(219,21,99,0.8);
  background: -webkit-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: -o-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: -moz-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
}

.wrap-contact2 {
  width: 790px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
}


/*------------------------------------------------------------------
[  ]*/

.contact2-form {
  width: 100%;
}

.contact2-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 90px;
}



/*------------------------------------------------------------------
[  ]*/

.wrap-input2 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input2 {
  display: block;
  width: 100%;

  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
}

.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: rgba(219,21,99,1);
  background: -webkit-linear-gradient(45deg, #d5007d, #e53935);
  background: -o-linear-gradient(45deg, #d5007d, #e53935);
  background: -moz-linear-gradient(45deg, #d5007d, #e53935);
  background: linear-gradient(45deg, #d5007d, #e53935);
}

.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;

  font-family: Poppins-Regular;
  font-size: 13px;
  color: #999999;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/
input.input2 {
  height: 45px;
}

input.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

textarea.input2 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}

textarea.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

.input2:focus + .focus-input2::after {
  top: -13px;
}

.input2:focus + .focus-input2::before {
  width: 100%;
}

.has-val.input2 + .focus-input2::after {
  top: -13px;
}

.has-val.input2 + .focus-input2::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-contact2-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.contact2-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: rgba(219,21,99,1);
  background: -webkit-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: -o-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: -moz-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;



  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;


}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-contact2 {
    padding: 72px 15px 90px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
.cdcontainer {
  position: relative;
  width: 50%;
}
.overlay {
  width: 350px;
  height: 350px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.cdcontainer:hover .overlay {
  opacity: 0.3;
  z-index: 0;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}



.panel{ margin: 20px; padding:0px; height:34px;}
.audio-panel{border:none !important;}
#playlist,audio{width:100%;}
.active a{color:#fff;text-decoration:none;}
ul#playlist{list-style:none; margin:0px; padding:20px;}
li.list-group-item{margin:0px; padding:10px;}
li, a.track{transition:all 0.3s;}
.list-group-item.active a{ text-decoration:none; color:#fff;}
a.track{display:block; position:relative; width:100%; font-size: 12px;}
li a.track{display:block; text-decoration:none;}
li:hover.list-group-item{background-color:#333;}
li a:hover.list-group-item{text-decoration:none; color: #fff;}


.bg-modal{
  background-color: #ddd;
}
.btn-block{
  height: 100%
}
.spotilacri{

}
footer{
  background-color: black;
  color: white;
}
